# MongoDB Configuration
# Use local MongoDB for development
MONGO_LOCAL_URI=mongodb://localhost:27017/ticketing

# Use MongoDB Atlas for production
MONGO_CLOUD_URI=mongodb+srv://username:password@cluster.mongodb.net/ticketing?appName=ticketing

# Server Configuration
PORT=8021
